<!--MEENAKSHI POORANI SEENIVELAN 101412678-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness-G07</title>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href= "/css/{{this.cssFileName}}">
    <!--JS-->
    <script src="/js/app.js" defer></script>
    {{#if jsFileName}}
    <script src="/js/{{this.jsFileName}}" defer></script>
    {{/if}}
</head>
<body>
    <header>
        <nav>
            <ul>
                <div id="nav-part-1">
                <li><a href="/">Home</a></li>
                <li><a href="/classes">Classes</a></li>
                    {{#if showAdminInterface}}
                         <li><a href="/orders/all">Orders</a></li>
                    {{/if}}
                </div>
                {{#if login}}
                    {{>nav-loggedin}}
                {{else}}
                    {{>nav-loggedout}}
                {{/if}}
            </ul>
        </nav>
    </header>
    
    {{{body}}}

</body>
</html>