/* -------MAIN-HOME------- */

#main-home {
    background-image: url("../assets/main-home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#main-home > button {
    background-color: #F3631B;
    padding: 15px;
    border-radius: 25px;
    width:200px;
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}

#main-home > button > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#main-home > button > a:hover {
    text-decoration: underline;
}

#main-home > h1,#main-home > p {
    margin-bottom: 10px;
}

#main-home > h1 {
    font-size: 70px;
}

#main-home > p {
    font-size: 25px;
}
