/* -------MAIN-CLASSES------- */

#main-classes {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
#main-classes > h1 {
    margin-bottom: 15px;
}
#main-classes > p {
    margin-bottom: 20px;
}

#class-card {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    width:50%;
    margin: auto auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 65%;
    column-gap: 10%;
    padding: 20px;
    text-align: left;
}

#class-card img {
    height: 130px;
 
    max-width: 100%;
}

#class-card h2 {
    font-size: 15px;
    margin-bottom: 15px;
}

#class_name, #instructor_name {
    color: purple;
    display: inline;
    font-size: 20px;
}

#class-card button {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #F3631B;
    color: white;
    border: none;
    padding: 10px;
}
#class-card button:hover {
    text-decoration: underline;
}

.inCart {
    background-color: yellow;
    font-size: 12px;
}
