#main-all-orders {
    height:100vh;
}
#main-all-orders h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 58px;
}

#orders-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
    width:80%;
    margin: auto auto;
}

#order-card {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
}

#order-card h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 12px;
}

#order-card h3, #order-card p{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}